/* Define CSS variables */
:root {
    --slide-duration: calc(74 * 7s);
    --delay-multiplier: 1s; /* Adjust as needed */
  }
  
  /* Animation keyframes */
  @keyframes slideFromRight {
    0% {
      transform: translateX(0%);
    }
    99% {
      transform: translateX(calc(-74 * 419px)); /* Adjust as per your calculation */
    }
  }
  
  @keyframes fadeFromBottom {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade {
    0% {
      display: block;
    }
    100% {
      display: none;
    }
  }
  
  .fade {
    animation: fade linear;
    animation-duration: 1;
  }
  /* Apply animation to each item */
  .item {
    white-space: nowrap; /* Prevent items from wrapping */
    display: inline-block; /* Ensure items display in a single line */
    animation-delay: calc(var(--delay) * var(--delay-multiplier));
  }
  
  .slide {
    animation: slideFromRight linear infinite;
    animation-duration: var(--slide-duration);
  }
  
  .slide:hover {
    animation-play-state: paused;
  }

  .input-placeholder::placeholder {
    color: #86868B; 
    opacity: 1; 
  }



  .fade-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .fade-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
  }
  
  